body{
    background-color: #ffe752;
}
#page1{
    width: 100%;
    overflow-x: hidden;
    img{
        width: 100%;
    }
    
    .page12{
        width: 75.72%;
        margin:0.2rem 0 0.7rem  17.73%;
        position: relative;
    }
    .page121{
        position: absolute;
        width: 1.26rem;
        height: 1.26rem;
        border-radius: 50%;
        overflow: hidden;
        top: 50%;
        left: -0.85rem;
        margin-top: -0.63rem;
        z-index: 5;
    }
    .page1211{
        position: absolute;
        top: 1.3rem;
        left: 0;
        width: 1.66rem;
        left: -1.05rem;
        text-align: center;
        font-size: 0.24rem;
    }
    .page122,.page1223{
        position: absolute;
        left: 0;
        top: 25.385%;
        height: 49.23%;
        width: 0%;
        background: url(../img/sni8.png) repeat-x left top;
        background-size:auto 100%;
        z-index: 2;
        transition:width 1s;
        -webkit-transition:width 1s;
        -moz-transition:width 1s;
        -ms-transition:width 1s;
    }
    .page1223{
        transition:width 0.8s;
        -webkit-transition:width 0.8s;
        -moz-transition:width 0.8s;
        -ms-transition:width 0.8s;
    }
    .page1221{
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        >img{
            width: auto;
            height: 100%;
        }
    }
    .page1222{
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        display: none;
        >img{
            width: auto;
            height: 100%;
        }
    }
    .page123{
        position: absolute;
        width: 1.22rem;
        height: 1.24rem;
        
        top: 50%;
        right: 0.02rem;
        margin-top: -0.61rem;
        .page1232{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            overflow: hidden;  
            transition:width 0.5s;
            -webkit-transition:width 0.5s;
            -moz-transition:width 0.5s;
            -ms-transition:width 0.5s;
        }
        .page1231{
            position: absolute;
            bottom: 0;
            left: 0;
            >img{
                width: 1.22rem;
                height: 1.24rem;
            }
        }
        
    }
    .page1212{
        position: absolute;
        width: 1.62rem;
        top: 1.3rem;
        right: -0.18rem;
        font-size: 0.24rem;
        text-align: center;
    }
    .page124{
        position: absolute;
        width: 30.28%;
        top: 8%;
        right: -0.1rem;
        z-index: 6;
        margin-top: -0.61rem;
    }
    .page125{
        position: absolute;
        width: 22%;
        right: 84%;
        bottom: 78%;
        left: -5%;
        z-index: 10;
        display: none;
        p{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            font-size: 0.24rem;
            text-align: center;
            line-height: 0.6rem;
            color: white;
        }
    }
    .page13{
        width: 57.86%;
        margin: 0 auto 0.3rem;
        a{
            display: block;
            >img{
                width: 100%;
            }
        }
    }
    .page131{
        width: 80.53%;
    }
}
.hdd{
    display: none!important;
}
.changePage{
    width: 98.13%;
    margin: 0 auto;
    position: relative;
    .changeBtn{
        position: absolute;
        left: 0;
        top: -0.1rem;
        width: 100%;
        z-index: 100;
        button{
            width: 33%;
            display: block;
            line-height: 0.94rem;
            margin-right: 0.5%;
            border-radius: 0.08rem;
            background-color: #ff322f;
            font-size: 0.32rem;
            color: white;
        }
        button:nth-last-child(1){
            margin-right: 0%;
        }
        .btnCheck{
            background-color: #fa5856;
            position: relative;
        }
        .btnCheck::after{
            position: absolute;
            content: "";
            height: 0.5rem;
            left: 0;
            top: 100%;
            width: 100%;
            background: url(../img/sni14.png) no-repeat;
            background-size: 100%;
        }
    }
    .changeContent1{
        padding-bottom: 1.2rem;
        ul li{
            width: 100%;
            img{
                width: 100%;
            }
            
        }
        a {
            position: fixed;
            bottom: 0;
            display: block;
            width: 100%;
            left: 0;
        }
    }
    .changeContent2{
        margin: 0rem 0 0.2rem;
        padding: 1.38rem 0 0.04rem;
        background-color: white;
        border-radius: 0.08rem; 
        ul{
            width: 97.28%;
            margin: 0 auto;
            li{
              margin-bottom: 0.2rem;  
            }
        }
    }
    .changeContent3{
        padding-bottom: 0.2rem;
    }
}

.noHelp{
    width: 100%;
    padding-top: 1.1rem;
    
    background-color: #fff0a2;
    border-radius: 0.08rem;
    >div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;         
        height: 3.0rem; 
        font-size: 0.4rem;
        
    }
    
}
.help{
    padding-top: 1.34rem;
    
    background-color: #fff0a2;
    border-radius: 0.08rem; 
    >div{
        width: 86.96%;
        margin: 0 auto;
        padding-bottom: 0.3rem;
        .HelpTitle{
            width: 100%;
            height: 0.88rem;
            border-radius: 0.12rem;
            background-color: #fa5856;
            color: #ffffff;
            line-height: 0.88rem;
            text-align: center;
            font-size: 0.34rem;
            span{
                font-size: 0.4rem;
                color: #ffe752;
            }
        }
        .helpMan{
            margin-top: 0.15rem;
            padding: 0.25rem 0;
            border-radius: 0.12rem;
            background-color: white;
            position: relative;
            .helpRight{
                width: 71.5%;
                margin-left: 23.125%;
                color: #666666;
                line-height: 0.4rem;
                font-size: 0.28rem;
                span{
                    color: #e91201;
                    font-weight: bold;
                }
            }
            .helpLeft{
                position: absolute;
                top: 0;
                left: 0;
                width: 23.125%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: -webkit-flex;
                -webkit-align-items: center;
                -webkit-justify-content: center;
                -webkit-flex-direction: column; 
                .headImg{
                    width: 0.9rem;
                    height: 0.9rem;
                    overflow: hidden;
                    border-radius: 50%;
                }
            }
        }
        
    }
}
.page11{
        width: 100%;
        position: relative;
        .page111{
            position: absolute;
            width: 91.06%;
            left: 4.47%;
            top: 2.2%;
        }
        .page1112{
            width: 96%;
            height: 2.4rem;
            position: absolute;
            left: 2%;
            top: 6.3%;
            border-radius: 0.08rem;
            background: rgba(255,255,255,0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            font-size: 0.5rem;
            color: #ffffff;
            >div{
                width: 90%;
                position: relative;
                p:nth-child(2){
                    position: absolute;
                    bottom: 50%;
                    left: 43%;
                    width: 25%;
                    text-align: center;
                    font-weight: bold;
                    color: #fa5856;
                }
                p:nth-child(3){
                    position: absolute;
                    top: 45%;
                    left: 12.5%;
                    width: 25%;
                    text-align: center;
                    font-weight: bold;
                    color: #fa5856;
                }
            }
        }
        .page1113{
            width: 96%;
            height: 2.4rem;
            position: absolute;
            left: 2%;
            top: 6.3%;
            border-radius: 0.08rem;
            background: rgba(255,255,255,0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            font-size: 0.5rem;
            color: #ffffff;
            .cf{
                display: inline-block;
                ul li{
                    display: inline-block;
                }
                ul li:nth-child(3){
                    width: 8%;
                }

                ul li div{
                    color: #fa5856;
                    font-weight: bold;
                    font-size: 0.68rem;
                    line-height: 0.6rem;
                    position:relative;
                    p:nth-child(1){
                        opacity: 0;
                    }
                    p:nth-child(2){
                        position: absolute;
                        left: 0;
                        bottom: 0.12rem;
                    }
                }
                ul li:nth-child(1){                    
                    width: 32.8%;
                }
            }
            .page11131{
                width: 83.33%;
            }
        }
        .page1114{
            width: 96%;
            height: 2.4rem;
            position: absolute;
            left: 2%;
            top: 6.3%;
            border-radius: 0.08rem;
            background: rgba(255,255,255,0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            font-size: 0.56rem;
            color: #fa5856;
            font-weight: bold;
        }
        .page112{
            position: absolute;
            width: 54.94%;
            left: 22.53%;
            top: 44.6%;
        }
        .page113{
            position: absolute;
            width: 75.46%;
            left: 12.27%;
            top: 40.39%;
        }
        .page1111{
            position: absolute;
            width: 72%;
            left: 14%;
            top: 2.2%;
        }
        .entry{
            position: absolute;
            width: 92%;
            left: 4%;
            top: 34%;
            font-size: 0.3rem;
            font-weight: bold;
            color: #333333;
            text-align: center;
             text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #fff,
                     0 0 35px #fff,
                     0 0 40px #fff,
                     0 0 50px #fff,
                     0 0 75px #fff;
        }
    }
@font-face{  
    font-family: zcool;  
    src:url('../fonts/zcool.ttf');  
}
.pw{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    .getJuice{
        width: 89.86%;
        position: relative;
        img{
            width: 100%;
        }
        .gj1{
            position: absolute;
            width: 36.64%;
            left: 31.68%;
            top: 12%;
        }
        .gj2{
            position: absolute;
            width: 37.1%;
            left: 31.45%;
            top: 29%;
        }
        .gj3{
            position: absolute;
            width: 68%;
            height: 14%;
            left: 16%;
            top: 71%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            p{
                text-align: center;
                font-size: 0.3rem;
                font-family: 'zcool';
                color: #666666;
                span{
                    color: #f44b49;
                    font-size: 0.42rem;
                    font-family: arial;
                }
            }
        }
        .gj4{
            position: absolute;
            width: 68%;
            height: 14%;
            left: 16%;
            top: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            p{
                text-align: center;
                font-size: 0.42rem;
                font-weight: bold;
                color: #333333;
            }
        }
        .gj5{
            top: 40%;
            height: 40%;
            p{
                font-weight: normal;
                font-size: 0.36rem;
            }
        }
    }
    .jClose{
        width: 12.68%;
        margin:-0.74rem auto 0;
        a{
            display: block;
        }
        img{
            width: 100%;
        }
    }
}
#share{
    .share1{
        width: 50.13%;
    }
    img{
        width: 100%;
    }
    .share2{
        width: 66.67%;
        margin-top: 0.4rem;
    }
}
#page2{
    width: 100%;
    overflow-x: hidden;
    img{
        width: 100%;
    }
    .page21{
        font-size: 0.32rem;
        text-align: center;
        line-height: 0.8rem;
        color: #333333;
        position: absolute;
        z-index: 10;
        width: 100%;       
        margin-top: -0.2rem;
        >div{
            border-radius: 0.08rem;
            background-color: white;
            height: 100%;
            width: 96%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            >div:nth-child(3){
                color: #fa5856;
            }
        }
         .clearFloat{
                height: 64%;
                width: 88%;
                >div{
                    height: 100%;
                }
                img{
                    width: auto;
                    height: 100%;
                }
            }
    }
}
#address{
    .address{
        width: 96%;
        position: relative;
        img{
            width: 100%;
        }
        .gj1 {
            position: absolute;
            width: 36.64%;
            left: 31.68%;
            top: 12%;
        }
        .gj2{
            position: absolute;
            width: 68%;
            left: 16%;
            top: 24%;
            font-size: 0.36rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
        }
        .inputBox{
            position: absolute;
            top: 33%;
            left: 16%;
            width: 68%;
            height: 50%;
//          background-color: red;
            ul li {
                width: 74%;
                margin-left: 25%;
                height: 0.6rem;
                border: 1px solid #cccccc; 
                border-radius: 0.05rem;
                position: relative;
                margin-bottom: 0.22rem;
                
            }
            p {
                font-size: 0.22rem;
                margin-bottom: 0.22rem;
                text-align: center;
            }
             ul li input{
                 width: 92%;
                 margin: 0 auto;
                 height: 100%;
                 border: 0;
                 display: block;
             }
             ul li::before{
                 content: "收货姓名";
                 font-size: 0.26rem;
                 line-height: 0.5rem;
                 position: absolute;
                 width: 30%;
                 top: 50%;
                 margin-top: -0.25rem;
                 right: 102%;
             }
             ul li:nth-child(2)::before{
                 content: "收货地址";
             }
             ul li:nth-child(3)::before{
                 content: "详细地址";
             }
             ul li:nth-child(4)::before{
                 content: "联系电话";
             }
             button{
                 width: 97.5%;
                 margin-left: 2%;
                 display: block;
                 font-size: 0.3rem;
                 color: white;
                 background-color: #f44b49;
                 line-height: 0.65rem;
                 border-radius: 0.08rem;
             }
        }
    }
    .jClose{
        margin-top: -0.8rem;
    }
}
